<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense</title>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./style.css">
</head>
<body>
<div class="container">
    <div class="alert alert-success hide"></div>
    <div class="alert alert-danger hide"></div>
    <!-- <div class="panel-group expense-stats">
        <div class="panel panel-default">
            <div class="panel-heading add-expense-title">
                <h4 class="panel-title">
                    <a data-toggle="collapse" id="add-expense-collaps-btn" href="#collapse1">Add Expense</a>
                </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse">
                <form id="add-expense-form">
                    <div id="fieldsContainertest">
                        <div class="single-expense-form">
                            <div class="form-group">
                                <input type="date" name="date[]" class=" form-control date-field" required>
                            </div>
                            <div class="form-group">
                                <input type="number" name="amount[]" class="form-control amount-field" placeholder="Amount" required>
                            </div>
                            <div class="form-group">
                                <input type="text" name="title[]" class="form-control title-field" placeholder="Description">
                            </div>
                            <div class="form-group">
                                <select name="categoryId[]" class="form-control category-field" required></select>
                            </div>
                            <div class="form-group">
                                <input type="text" name="new_category[]" class="form-control new-category-field" placeholder="New Category">
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary" id="submit-btn">Submit</button>
                    <button type="button" class="btn btn-default" onclick="onCancelClick(this);">Cancel</button>
                    <button type="button" class="btn btn-info" id="addFieldold">Add more</button>
                </form>
            </div>
        </div>
    </div> -->
    <div class="row expense-info">
        <div class="col-xs-4 income">
            <div>Income</div>
            <div>500</div>
        </div>
        <div class="col-xs-4">
            <div>
                <b id="currentYear"></b>
                <select name="month" id="month" onchange="onMonthChange(this)"></select>
            </div>
            <div>
                <b id="totalSum"></b>
            </div>
        </div>
        <div class="col-xs-4 remaining">
            <div>Remaining</div>
            <div>500</div>
        </div>
    </div>
    <div class="panel-group expense-stats">
        <div class="panel panel-default">
            <div class="panel-heading stats-title">
                <div class="row">
                    <div class="col-xs-3">
                        <button type="button" class="btn btn-info btn-xs" data-toggle="modal" data-target="#addExpenseModal">Add Expense</button>
                    </div>
                    <div class="col-xs-3">
                        <a data-toggle="collapse" class="btn btn-success btn-xs" href="#stats-body">Stats</a>
                    </div>
                    <div class="col-xs-3">
                        <a data-toggle="collapse" class="btn btn-warning btn-xs" href="#budget-body">Budget</a>
                    </div>
                    <div class="col-xs-3">
                        <a data-toggle="collapse" class="btn btn-primary btn-xs" href="#categories-body">Categories</a>
                    </div>
                </div>
            </div>
            <div id="budget-body" class="panel-collapse collapse">
                <table class="table table-bordered table-responsive">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Spent</th>
                            <th>Limit</th>
                            <th>Remaining</th>
                        </tr>
                    </thead>
                    <tbody id="budgets-tbody"></tbody>
                </table>
            </div>
            <div id="stats-body" class="panel-collapse collapse">
                <table class="table">
                    <tbody id="stats-table-body">
                        <tr>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="categories-body" class="panel-collapse collapse">
                <table class="table table-responsive">
                    <tbody id="categories-tbody">
                        <tr>
                            <td>Daaru</td>
                        </tr>
                        <tr>
                            <td>Eggs</td>
                        </tr>
                        <tr>
                            <td>Petrol</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <form id="update-expense-form" class="update-expense-form hide">
        <div id="fieldsContainertest">
            <div class="form-group">
                <input type="date" name="date" class=" form-control date-field" required>
            </div>
            <div class="form-group">
                <input type="number" name="amount" class="form-control amount-field" placeholder="Amount" required>
            </div>
            <div class="form-group">
                <input type="text" name="title" class="form-control title-field" placeholder="Description">
            </div>
            <div class="form-group">
                <select name="category" class="form-control category-field" required></select>
            </div>
            <input type="hidden" name="expense_id" class="expense-id-field">
        </div>
        <button type="submit" class="btn btn-primary" id="update-btn">Update</button>
        <button type="button" class="btn btn-default" onclick="cancelUpdateExpense(this);">Cancel</button>
    </form>
    <table class="table table-bordered table-responsive expenses-table">
        <tbody id="expenses"></tbody>
    </table>



    <!-- Add Expense Modal -->
    <div id="addExpenseModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add Expense</h4>
            </div>
            <div class="modal-body">
                <form id="add-expense-form">
                    <div id="fieldsContainer">
                        <div class="single-expense-form">
                            <div class="form-group">
                                <input type="date" name="date[]" class=" form-control date-field" required>
                            </div>
                            <div class="form-group">
                                <input type="number" name="amount[]" class="form-control amount-field" placeholder="Amount" required>
                            </div>
                            <div class="form-group">
                                <input type="text" name="title[]" class="form-control title-field" placeholder="Description">
                            </div>
                            <div class="form-group">
                                <select name="categoryId[]" class="form-control category-field" required></select>
                            </div>
                            <div class="form-group">
                                <input type="text" name="new_category[]" class="form-control new-category-field" placeholder="New Category">
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary" id="submit-btn">Submit</button>
                    <button type="button" class="btn btn-default" onclick="onCancelClick(this);">Cancel</button>
                    <button type="button" class="btn btn-info" id="addField">Add more</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
            </div>
        </div>
    </div>

    <!-- Set Limit Modal -->
    <div id="setLimitModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Set Limit</h4>
            </div>
            <div class="modal-body">
                <form id="set-budget-form">
                    <div id="fieldsContainer">
                        <div class="single-expense-form">
                            <div class="form-group">
                                <label for="limit" class="limit-category-name"></label>
                                <input type="hidden" name="category_id" id="category_id" class="category-id-field" value="">
                            </div>
                            <div class="form-group">
                                <input type="number" name="limit" class="form-control limit-field" placeholder="Amount" required>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary" id="submit-btn">Submit</button>
                    <button type="button" class="btn btn-default" onclick="onCancelClick(this);">Cancel</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
            </div>
        </div>
    </div>

    <!-- Update Limit Modal -->
    <div id="updateLimitModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Update Limit</h4>
            </div>
            <div class="modal-body">
                <form id="update-budget-form">
                    <div id="fieldsContainer">
                        <div class="single-expense-form">
                            <div class="form-group">
                                <label for="limit" class="limit-category-name"></label>
                            </div>
                            <div class="form-group">
                                <input type="hidden" name="budget_id" id="budget_id" class="budget-id-field" value="">
                                <input type="hidden" name="spent" class="spent-field" value="">
                                <input type="number" name="limit" class="form-control limit-field" placeholder="Amount" required>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary" id="submit-btn">Update</button>
                    <button type="button" class="btn btn-default" onclick="onCancelClick(this);">Cancel</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
            </div>
        </div>
    </div>
</div>

<script src="/node_modules/jquery/dist/jquery.min.js"></script>
<script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="./script.js"></script>
</body>
</html>
