<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense</title>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <div class="container">
        <div class="alert alert-success hide"></div>
        <div class="alert alert-danger hide"></div>
        <div class="panel-group expense-stats">
            <div class="panel panel-default">
                <div class="panel-heading add-expense-title">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" id="add-expense-collaps-btn" href="#collapse1">Add Expense</a>
                    </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse">
                    <form id="add-expense-form">
                        <div id="fieldsContainer">
                            <div class="single-expense-form">
                                <div class="form-group">
                                    <input type="date" name="date[]" class=" form-control date-field" required>
                                </div>
                                <div class="form-group">
                                    <input type="number" name="amount[]" class="form-control amount-field" placeholder="Amount" required>
                                </div>
                                <div class="form-group">
                                    <select name="category[]" class="form-control category-field" required></select>
                                </div>
                                <div class="form-group">
                                    <input type="text" name="description[]" class="form-control description-field" placeholder="Description">
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary" id="submit-btn">Submit</button>
                        <button type="button" class="btn btn-default" onclick="onCancelClick(this);">Cancel</button>
                        <button type="button" class="btn btn-info" id="addField">Add more</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="panel-group expense-stats">
            <div class="panel panel-default">
                <div class="panel-heading stats-title">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#stats-body">Stats</a>
                    </h4>
                </div>
                <div id="stats-body" class="panel-collapse collapse">
                    <!-- <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="70"
                        aria-valuemin="0" aria-valuemax="100" style="width:70%">Petrol 70%</div>
                        <span class="badge">500</span>
                    </div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="70"
                        aria-valuemin="0" aria-valuemax="100" style="width:30%">Hotel 30%</div>
                    </div> -->
                    <table class="table">
                        <tbody id="stats-table-body">
                          <tr>
                          </tr>
                        </tbody>
                    </table>
                    <!-- <ul class="list-group" id="stats-list">
                        <li class="list-group-item list-group-item-success">Petrol <span class="badge">500</span></li>
                        <li class="list-group-item list-group-item-info">Hotel <span class="badge">300</span></li>
                        <li class="list-group-item list-group-item-warning">Grocery <span class="badge">100</span></li>
                    </ul> -->
                </div>
            </div>
        </div>
        <div class="row expense-info">
            <b id="currentYear"></b>
            <select name="month" id="month" onchange="onMonthChange(this)"></select>
            : <b id="totalSum"></b>
        </div>
        <form id="update-expense-form" class="update-expense-form hide">
            <div id="fieldsContainer">
                <div class="form-group">
                    <input type="date" name="date" class=" form-control date-field" required>
                </div>
                <div class="form-group">
                    <input type="number" name="amount" class="form-control amount-field" placeholder="Amount" required>
                </div>
                <div class="form-group">
                    <select name="category" class="form-control category-field" required></select>
                </div>
                <div class="form-group">
                    <input type="text" name="description" class="form-control description-field" placeholder="Description">
                </div>
                <input type="hidden" name="expense_id" class="expense-id-field">
            </div>
            <button type="submit" class="btn btn-primary" id="update-btn">Update</button>
            <button type="button" class="btn btn-default" onclick="cancelUpdateExpense(this);">Cancel</button>
        </form>
        <table class="table table-bordered table-responsive expenses-table">
            <tbody id="expenses"></tbody>
        </table>
    </div>

    <script src="./script.js"></script>
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
