<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense Tracker</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="container">
        <p id="form-status" class="hide"></p>
        <form action="/expenses" id="add-expense-form" class="" method="POST">
            <div id="fieldsContainer">
                <div class="single-expense-form">
                    <input type="date" name="date[]" class="date-field" required>
                    <input type="number" name="amount[]" class="amount-field" placeholder="Amount" required>
                    <select name="category[]" class="category-field" required></select>
                    <input type="text" name="description[]" class="description-field" placeholder="Description">
                </div>
            </div>
            <button type="button" id="addField">Add More</button>
            <button type="submit">Submit</button>
            <button type="button" onclick="onCancelClick(this);">Cancel</button>
        </form>
        <button type="button" id="add-expense" onclick="onAddExpenseClick(this);">Add Expense</button>
        <div class="expense-info">
            <b id="currentYear"></b>
            <select name="month" id="month" onchange="onMonthChange(this)"></select>
            : <b id="sum"></b>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Title</th>
                    <th>Category</th>
                    <th>Amount</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="expenses"></tbody>
        </table>
    </div>
    <script src="./script.js"></script>
</body>
</html>
